body{
    background-color: black;
    display: grid;
    place-content: center;
    padding: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.image{
    width: 400px;
    height: 355px;
    object-fit: cover;
    border-radius: 0  8px 8px 0;
    background-color: rgba(211, 175, 245, 0.795);
    opacity: 0.3;
}
.box1{
    border-radius: 8px 0 0 8px ;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(17, 17, 63, 0.764);
    width: 400px;
    height: 300px;
    color: white;
    padding: 30px;
    

}
.attribution{
    color: white;
}
.texts{
    color: rgb(113, 111, 111);
}
.purple{
    color: blueviolet;
}
.table{

    display: grid;
    place-content: center;

}
.nnumbers{
    display: flex;
    flex-direction:row;
}
.table p{

    margin-left: 20px;
}
@media screen and (max-width:376px){
    .conteiner{
        display: flex;
        flex-direction:column-reverse;
    }

    .nnumbers{
        display: flex;
        flex-direction:column;
    }
    .image{
        border-radius: 0;
    }
}